.app {
  height: 100%;
  position: relative;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  color: #333;
}

.treeWrap {
  flex: 1;
  overflow: auto;
}

.app ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.draggingSource {
  opacity: 0.3;
}

.dropTarget {
  background-color: #e8f0fe;
}
